body{
    background-color: #fbfbe2;
    /* pointer-events: none; */
}
body, html{
    font-family: "Noto Sans";
    font-weight: normal;
    font-style: normal;
    }
    
h1{
font-family: "Laila";
font-weight: 600;
font-style: normal;
}

h2, h3, h4{
font-family: "Fira Sans";
font-weight: 200;
font-style: oblique;
}

.contenedor_titulo_asistencias{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
}
.contenedor-lector{
    width: 30rem;
}
.div-contenedor-lector{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contenedor_filtros_asistencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* pointer-events: none; */
}
.div_titulo_filtrar{
    margin-top: 10px;
    margin-bottom: 5px;
    pointer-events: none;
}
.div_fechas{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 700px) {
        flex-direction: column;
    }
}
.div_fecha_inicio{
    width: 48%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 700px) {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }
}
.div_fecha_final{
    width: 48%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: 700px) {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }
}
.date_input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.date_input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 2px 6px rgba(0, 123, 255, 0.3);
    cursor: pointer;
}
.contenedor_registros{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    @media (max-width: 700px) {
        flex-direction: column;
    }
}
.contenedor_registro_ingresos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    @media (max-width: 700px) {
        width: 98%;
    }
}
.contenedor_registro_salidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    @media (max-width: 700px) {
        width: 98%;
    }
}
.div_titulo_registros{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.div_contenedor_card_registros{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenedor_div_card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor_botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.div_card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow:
        0px 0.3px 0.3px hsla(0, 0%, 60%, 0.28),
        0.1px 0.8px 0.9px -0.6px hsla(0, 0%, 60%, 0.29),
        0.1px 1.6px 1.9px -1.2px hsla(0, 0%, 60%, 0.3),
        0.3px 3.1px 3.6px -1.7px hsla(0, 0%, 60%, 0.31),
        0.5px 6px 7px -2.3px hsla(0, 0%, 60%, 0.32);
}
.div_card:hover {
        box-shadow:
        0px 0.3px 0.3px hsla(0, 0%, 60%, 0.29),
    0.2px 1.7px 2px -0.3px hsla(0, 0%, 60%,0.3),
    0.3px 3.1px 3.6px -0.6px hsla(0, 0%, 60%, 0.31),
    0.4px 4.8px 5.6px -0.9px hsla(0, 0%, 60%, 0.31),
    0.7px 7.2px 8.4px -1.2px hsla(0, 0%, 60%,0.32),
    1px 10.7px 12.4px -1.4px hsla(0, 0%, 60%, 0.32),
    1.4px 15.5px 18px -1.7px hsla(0, 0%, 60%, 0.33),
    2px 22.2px 25.7px -2px hsla(0, 0%, 60%, 0.33),
    2.8px 30.9px 35.8px -2.3px hsla(0, 0%, 60%, 0.34);
}
.registro_ingreso_button{
    display: inline-block;
    background-color: #0ed46b;
    border-color: #0ed46b;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.registro_ingreso_button:hover{
    background-color: #0d8042;
}
.registro_salida_button{
    display: inline-block;
    background-color: #e84e4e;
    border-color: #e84e4e;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.registro_salida_button:hover{
    background-color: #a53a3a;
}
.nuevo_button{
    display: inline-block;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nuevo_button:hover{
    background-color: #0056b3;
}
.div_card_header{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    pointer-events: none;
}
.div_card_usuario{
    display: flex;
    flex-direction: row;
    @media (max-width:700px) {
        flex-direction: column;
    }
    
}
.div_card_usuario_ind{
    margin: 5px;
    pointer-events: none;
}
.div_card_usuario_nombre{
    color: #0669d2;
    font-weight: 600;
}
.div_card_usuario_button_editar{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit_link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
.edit_link:hover {
    background-color: #0056b3;
}

@media (max-width: 750px) {
    .contenedor-lector{
        width: 90%;
    }

    
    .div_fechas{
        flex-direction: column;
    }
    .div_fecha_inicio{
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }
    .div_fecha_final{
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }
    .contenedor_registros{
        flex-direction: column;
    }
    .contenedor_registro_ingresos{
        width: 98%;
    }
    .contenedor_registro_salidas{
        flex-direction: column;
    }
    .div_card_usuario{
        flex-direction: column;
    }
}