body{
    background-color: #fbfbe2;
}
body, html{
    font-family: "Noto Sans";
    font-weight: normal;
    font-style: normal;
    }
    
h1{
font-family: "Laila";
font-weight: 600;
font-style: normal;
}

h2, h3, h4{
font-family: "Fira Sans";
font-weight: 200;
font-style: oblique;
}

.contenedor_titulo_asistencias{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contenedor_filtros_asistencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_titulo_filtrar{
    margin-top: 10px;
    margin-bottom: 5px;
}
.div_fechas{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 700px) {
        flex-direction: column;
    }
}
.div_fecha_inicio{
    width: 48%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 700px) {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }
}
.div_fecha_final{
    width: 48%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: 700px) {
        width: 100%;
        margin-top: 10px;
        justify-content: center;
    }
}
.date_input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}
.date_input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 2px 6px rgba(0, 123, 255, 0.3);
}
