.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-container-titulo{
  text-align: center;
  margin: 10px;
}
.header-container-subtitulo{
  text-align: center;
  margin: 10px;
}
.div-contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.qr-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
/* Estilos para el encabezado del código QR */
.perfil-header {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .perfil-title {
    font-size: 18px;
    margin: 0;
  }
.icon-header{
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .qr-info {
    font-size: 14px;
    margin: 5px 0;
  }
  
  
  
  
  .qr-code {
    width: 200px;
    height: 200px;
  }
  
  
