.footer {
    font-family: 'Work Sans';
    background-color: #00324D;
    color: #fff;
} 


.divfirst {
    margin: 0 70px;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__img {
    width: auto;
    height: 100px;
}

.containertwo {
    display: block;
    width: 300px;
}


.containertwo__h2 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 5px;
}

.containertwo__p {
    font-size: 20px;
    font-weight: 400;
}

.containerthree {
    display: block;
}
.containerthree__h2{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 5px;
}
.containerthree__link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.containerthree__link:hover {
    color: #82DEF0;
}


.containerfour__h2 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.containerfour__img {
    width: auto;
    height: 30px;
    margin-right: 10px;
}

.containerfour__img:hover {
    width: auto;
    height: 31px;
}


/* Subfooter */
.divsecond {
    width: 100;
    background-color: #001629;
}

.divsecond__p {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 200;
}

/* .footer__p {
    font-weight: 400;
    font-size: 1.2em;
    color: #fff;
    background-color: #001629;
} 

.divfirst {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;
}
.containertwo {
    padding-right: 200px;
}

.containertwo__p {
    font-size: 1em;
}
.container__img {

}
*/

@media (max-width: 640px) {
    .divfirst {
        display: block;
        margin: 0 20px;
    }

    .containerone {
        margin-bottom: 10px;
    }

    .containertwo {
        margin-bottom: 20px;
    }

    .containerthree {
        margin-bottom: 20px;

    }


} 