.header {
    background-color: #39A900;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0rem;
}

.logo {
    padding: 9rem 1rem;
}

.img {
    width: 12.5rem;
    height: auto;
}
