/* .main {
    margin-top: 5rem;
} */
.container_nav_back{
    width: 100%;
    height: 5rem;
    background-color: none;
}
.section {
    width: 100%;
    height: 86vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.section__texts {
    width: 50%;
    height: 86vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section__mockup {
    width: 50%;
    height: 86vh;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}
.section__texts_margin{
    width: 75%;
}

.content_section__title {
    width: 90%;
}
.section__title {
    font-weight: 700;
    font-size: 4em;
    text-align: left;
}
.container__p{
    width: 90%;
}

.section__p {
    font-weight: 500;
    font-size: 1.25em;/* =20px  */
}

.section__img {
    width: 100%; /* Ajustar el ancho de la imagen al 100% del div */
    height: auto; /* Mantener la proporción de aspecto de la imagen */
    display: block;
}

/* ======= Sección Tarjetas de información ========= */
.h1__info {
    text-align: center;
    font-size: 1.8em;/* 30px */
    font-weight: 400;
    margin: 3rem 0;

}

.section__cards {
    width: 100%;
    background-color: #00324D;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: flex;
    align-items: center; */
}

.container_section__cards{
    width: 94%;
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.first__container{
    width: 50%;
    background-color:green;
    height: 50vh;
}
.second__container{
    width: 50%;
    background-color:yellow;
    height: 50vh;
}
/* flex-wrap: wrap; */
.card__left__blue {
    background-color: #00324D;
    color: #fff;
    padding: 40px 70px;
    border-radius: 10px;
    width: 45%; /* Ajusta el ancho según tus necesidades */
    margin-bottom: 20px;
}

.card__right__green {
    background-color: #39A900;
    color: #fff;
    padding: 40px 70px;
    border-radius: 10px;
    width: 30%;
}

.card__title {
    margin-bottom:  1.4em 0;
    font-size:  1.5em;
    font-weight: 500;
    background: none;
}

.card__subtitle {
    background: none;
}

.card__description {
    background: none;
    margin:  1.4em 0;
    font-size: 1.125em;
    text-align: justify;
}

@media (max-width: 750px){
    .container_nav_back{
        height: 8rem;
    }
    .section {
        height: 82vh;
    }
    .section__texts {
        width: 100%;
        height: 41vh;
    }
    .section__texts_margin{
        width: 90%;
    }
    .section__mockup {
        width: 100%;
        height: 41vh;
    }
    .first__container{
        width: 100%;
    }
    .second__container{
        width: 100%;
    }
}
