.main {
    margin-top: 5rem;/* 80px */
}

.section {
    display: flex;
    flex-direction: row;
    margin: 0 0 5rem 0; /* 80px; */
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.section__texts {
    width: 50%;
    padding: 0rem 90px 0 80px;
    margin-bottom: 6rem;
    background: none;
}
.section__mockup {
    width: 50%;
    padding: 0rem 90px 0 80px;
    margin-bottom: 6rem;
    background: none;
}

.section__title {
    text-align: left;
    font-weight: 700;
    font-size: 4.375em;/* Equivale a 70px */
}

.section__p {
    font-weight: 500;
    font-size: 1.25em;/* =20px  */
}

.section__img {
    width: auto;
    height: 31rem;/* 500px; */
}

/* ======= Sección Tarjetas de información ========= */
.h1__info {
    text-align: center;
    font-size: 1.8em;/* 30px */
    font-weight: 400;
    margin: 3rem 0;

}

.section__cards {
    margin: 1rem 5rem;
    /* display: flex;
    align-items: center; */
    border-radius: 40px;
}

.first__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;

}
.card__left__blue {
    background-color: #00324D;
    color: #fff;
    padding: 40px 70px;
    border-radius: 10px;
    width: 45%; /* Ajusta el ancho según tus necesidades */
    margin-bottom: 20px;
}

.card__right__green {
    background-color: #39A900;
    color: #fff;
    padding: 40px 70px;
    border-radius: 10px;
    width: 30%;
     /* Ajusta el ancho según tus necesidades */
}

.card__title {
    margin-bottom:  1.4em 0;
    font-size:  1.5em;
    font-weight: 500;
    background: none;
}

.card__subtitle {
    background: none;
}

.card__description {
    background: none;
    margin:  1.4em 0;
    font-size: 1.125em;
    text-align: justify;
}

@media (max-width: 750px){
    .main {
        margin-top: 15rem;/* 80px */
    }
    .section__texts {
        width: 100%;
    }
    .section__mockup {
        width: 100%;
    }

}
