.header {
    width: 100%;
    min-height: 90px;
    position: fixed;
    /* From https://css.glass */
    background: rgba(251, 251, 226, 0.9);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(251, 251, 226, 0.3);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;
}

.nav__img {
    width: auto;
    height: 90px;
}


.nav__link {
    margin: 0 10px 0 0;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #000b18;
    text-decoration: none;
    border-radius: 80px ;
    -webkit-border-radius: 80px ;
    -moz-border-radius: 80px ;
    -ms-border-radius: 80px ;
    -o-border-radius: 80px ;
}

.nav__link--activate {
    color: #FBFBE2;
    border-color:  #39A900;
    background-color: #39A900;
    margin-right: 0;
}

.nav__link:hover {
    color: #FBFBE2;
    background-color: #39A900;
    border-color:  #39A900;
}

@media (max-width: 640px) {
    .nav {
        display: block;
        margin: 0 10px;
    }

    .nav__a {
        display: flex;
        align-items: center;
        justify-content:left;
    }

    .nav__img {
        margin-left: 60px;
    }
    .container__links{
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}










